# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb
*.db
*.opendb
*.VCTargetsPath
*.db-shm
*.db-wal

# Logs
*.log

# Publish
publish/
*.pubxml

# MAUI
**/Platforms/
*.xcuserstate
*.DS_Store

# Backup
*.orig

# Test results
TestResults/
*.trx

# Configuración sensible
appsettings.json
appsettings.Development.json
appsettings.Production.json

